.front{
    margin-top: .5%;
    margin-bottom: .5%;
    background-image: url('img/Pusheen_Zoom_Background_Beach_2020 2.jpg');
    padding-top: 10rem;
    width: 100%;
    height: 10rem;
}

.subp{
    background-color: white ;
    padding: 5vh 5vh;
    margin-bottom: .5vh;
}

.about{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.aboutwords{
    max-width: 30%;
}

.abtbeg{
    padding-bottom: 2vh;
}

.lis {
    padding-bottom: 5vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #f0b1c3;
}

.sponsors{
    font-size: large;
    font-weight: 700;
}

.sponsorsimg{
    width: 20vh;
}